.navigation {
}

.navigation_cont {
    position: fixed;
    width: 100%;
  background: #171b1f27;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  position: absolute, sticky;
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;

}

.logo_img {
    height: 30px;
}

.nav_links {

    margin-right: 50px;
    font-family: 'Raleway', sans-serif;

}

.link {
    color: #fff;
    text-decoration: none;
    font-size: .85rem;
    padding: 10px;
    transition: all .3s ease;
}

.nav_link:hover {
    color: #9747fe;
}

.nav_link:not(:last-child) {
    margin-right: 40px;
}
