.section {
  height: 100vh;
  position: relative;
}

.active_link {
  color: #9747fe !important;
}

.cta_btn {
  background-color: #9747fe;
  border-radius: 40px;
  font-weight: bold;
  padding: 12px 30px !important;
}
