.section {
  min-height: 100vh;
  padding: 2rem;
  position: relative;
    overflow: hidden;
}

.active_link {
  color: #9747fe !important;
}

.cta_btn {
  background-color: #9747fe;
  border-radius: 40px;
  /* font-weight: bold; */
  padding: 12px 30px !important;
  transition: all .4s ease;
}


.cta_btn:hover {
    background-color: #fff;
    color: #9747fe;
}


.link {
    color: #fff;
    text-decoration: none;
    font-size: .85rem;
    padding: 10px;
    transition: all .3s ease;
}
